/node_modules
/public/hot
/public/storage
/public/panel
/public/panel/assets
/public/panel/bootstrap-icons
/public/panel/assets/css
/public/panel/assets/images
/public/panel/assets/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
