* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus,
.btn {
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
}

.ajax_response {
    z-index: 6;
    position: fixed;
    padding: 20px 20px 0 0;
    top: 0;
    right: 0;
    width: 400px;
    max-width: 100%;
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}
